@model Book
<!-- This is a partial view that I can use on any html page in the project-->
<div class="card card-outline-primary m-1 p-1">
    <h4>
        @Model.Title
        <span class="badge badge-pill badge-info" style="float:right">$@Model.Price</span>
    </h4>
    <p>Author: @Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast</p>
    <p>Publisher: @Model.Publisher</p>
    <p>Classification/Category: @Model.Classification, @Model.Category</p>
    <p>Pages: @Model.Pages</p>

</div>