@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>
<!-- Using bootstrap output the book list -->
<header class="shadow">
    <h1 class="text-center">Welcome to Our Book Store</h1>
</header>

<h2 class="text-center">Available Books</h2>
<br />
<br />
<div class="text-center">
    <table class="table-dark" width="80%" style="margin-left: auto; margin-right:auto">
        <thead>
            <tr class="d-lg-table-row">
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr class="d-md-table-row">
                    <td>@x.Title</td>
                    <td>@x.AuthorFirst @if (x.AuthorMiddle != "")
                    {@x.AuthorMiddle } @x.AuthorLast </td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification</td>
                    <td>@x.Category</td>
                    <td>@x.Price.ToString("c")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

